.overlay__overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.overlay__background {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 0;  
}

.overlay__columnRight {
  right: 0;
  height: 100vh;
  z-index: 2;
  color: white;
}

.overlay__columnLeft {
  left: 0;
  height: 100vh;
  z-index: 2;
  color: white;
}

.overlay__columnLeft,
.overlay__columnRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 10%;
  font-size: 2em;
  cursor: pointer;
}

.overlay__columnLeft:hover,
.overlay__columnRight:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.overlay__closeButton {
  position: fixed;
  right: 0;
  top: 0;
  width: 10%;
  height: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  cursor: pointer;
  z-index: 3;
  visibility: visible;
  opacity: 1;
  color: white;
}

.overlay__closeButton:hover {
  background-color: rgba(107, 12, 5, 0.5);
}

.overlay__pictureContainer {
  position: relative;  
  top: 0px;
}

.overlay__picture {
  border: 1px solid rgba(255,255,255,.25);
  min-width: 25vw;
  max-width: 75vw;
  min-height: 25vh;
  max-height: 80vh; 
}

.overlay__spinner {
  color: #FFF;
  z-index: 10;  
  font-size: 10vh;
}

.overlay__tags{
  position: absolute;
  bottom: 0px;
  width: 100%;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 1.5em;
  opacity: .7;
  text-align: left;
  padding-top: 25px;
  padding-left: 10px;
  height: 100%;
}

.overlay__tags span{
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  padding: .1em .2em .2em .2em;
}

.error span{
  background-color: red;
}

.overlay__action{
  height: 30px;
}

.overlay__delete {
  position: absolute;
  right: 0;
  top: bottom;
  margin: 10px;
  font-size: 1.5em;
  color: White;
  float: right;
  cursor: pointer;
  z-index: 10;
}
